.h2 {
  font-size: var(--font-size-L);
  font-weight: 800;
  line-height: var(--line-height-L);
  margin-bottom: var(--space-M);
}

.normal {
  font-size: var(--font-size-S);
  line-height: var(--line-height-S);
}

.image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: var(--space-L) 0;
}
