.container {
  max-width: var(--max-width);
  margin: var(--standard-margin);
  padding: 0 var(--standard-spacing-x) var(--standard-spacing-y)
    var(--standard-spacing-x);
}

.innerContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* background-color: red; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.paginatin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

/*BLOG CARD*/
.blogCard {
  height: 348px;
  width: 200px;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.blogCardImageContainer {
  height: 100px;
  /* width: 200px; */
  box-shadow: var(--box-shadow);
  position: relative;
}

.blogCardImage {
  border-radius: 8px 8px 0 0;
}

.cardFooter {
  padding: 8px;
}

.cardFooter h2 {
  font-size: var(--font-size-3);
  margin-bottom: 8px;
  font-weight: bold;
}

.cardFooter p {
  font-size: var(--font-size-2);
}

.span {
  margin: 13px 0 0 13px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray);
}

.tagContainer {
  bottom: 0;
  position: absolute;
  margin: 0 29px 13px 13px;
}

@media only screen and (max-width: 1440px) {
  .blogContainer {
    gap: 27px;
    padding: 0px 50px 50px 50px;
  }
}

@media only screen and (max-width: 1350px) {
  .blogContainer {
    gap: 27px;
    padding: 0px 50px 50px 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .blogContainer {
    padding: 0 36px 45px;
  }
}
