.blogContainer {
  margin: 0 auto;
  max-width: var(--max-width);
  /* margin-top: var(--layout-top-margin); */
  padding: var(--container-padding-xy);
}

.innerContainer {
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  /* background-color: red; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
}

.paginatin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

/*BLOG CARD*/
.blogCard {
  height: 400px;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.blogCardImageContainer {
  height: 200px;
  /* width: 200px; */
  box-shadow: var(--box-shadow);
  position: relative;
}

.blogCardImage {
  border-radius: 8px 8px 0 0;
}

.cardContent {
  padding: 8px;
}

.cardContent h2 {
  font-size: var(--font-size-S);
  margin-bottom: 8px;
  font-weight: bold;
}

.cardContent h2:hover {
  color: var(--secondary-color);
}

.cardContent p {
  font-size: var(--font-size-2);
}

.date {
  color: var(--gray-600);
}

.continueRead {
  font-size: var(--font-size-4) !important;
  font-weight: var(--font-weight-3);
}

.continueRead:hover {
  color: var(--secondary-color);
}

.span {
  margin: 13px 0 0 13px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray);
}

.tagContainer {
  bottom: 0;
  position: absolute;
  margin: 0 29px 13px 13px;
}

@media only screen and (max-width: 1200px) {
  .innerContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .innerContainer {
    grid-template-columns: 1fr;
  }
}
