.page {
  width: 100%;
  padding-top: 0 var(--standard-padding-x);
  padding-bottom: var(--standard-padding-y);
}

.pageContent {
  max-width: var(--max-width);
  margin: 0 auto;
}

.pageContent a {
  color: var(--blue-600);
  text-decoration: none;
}
