.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 52px;
  color: var(--white);
  background-color: var(--primary-color);
  border: none;
  margin-top: 14px;
  border-radius: var(--border-radius-S);
  font-weight: var(--font-weight-M);
  padding: var(--space-M);
}

.button:hover {
  background-color: var(--secondary-color);
}
