.mainLayout {
  background-color: var(--black);
}

.innerLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--white);
  max-width: var(--max-width-1);
  margin: auto;
  padding: 50px 0;
}

.logo {
  width: 190px;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.socialItem:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.footerMenu {
  margin-right: 50px;
}

.footerMenu h3 {
  font-weight: var(--font-weight-3);
}

.footerMenu li {
  list-style: none;
  padding-top: 8px;
}

.footerMenu a {
  text-decoration: none;
  color: var(--white);
}

.footerMenu a:hover {
  color: var(--secondary-color);
}

@media only screen and (max-width: 1024px) {
  .footerMenu {
    padding: 18px 15px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    width: 390px;
  }

  .innerLayout {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footerMenu {
    padding: 18px 0;
    width: 50%;
    /* padding: 18px 0; */
    margin: auto;
  }

  .social img {
    width: 20px;
  }
}
