.mainLayout {
  margin: var(--standard-margin);
  padding: var(--standard-padding-yx);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: red;
  padding: var(--space-S);
}

.imageContainer {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0 auto;
}

.image {
  border-radius: 50%;
}

.card h3 {
  margin-top: var(--space-S);
  font-weight: 700;
}

.card p {
  margin-top: var(--space-S);
}

@media only screen and (max-width: 1024px) {
  .mainLayout {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .mainLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .innerLayout {
    flex-direction: column;
  }
}
