.mainLayout {
  margin: var(--standard-margin);
  padding: var(--standard-padding-yx);
}

.mainLayout h2 {
  text-align: center;
  font-size: var(--font-size-L);
  margin-bottom: var(--space-L);
  font-weight: var(--font-weight-L);
}

.cardContainer {
  display: grid;
  justify-content: center;
}

.card {
  max-width: 300px;
  text-align: center;
  padding: var(--space-S);
}

.imageContainer {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0 auto;
}

.image {
  border-radius: 50%;
}

.card h3 {
  margin-top: var(--space-M);
  font-weight: var(--font-weight-M);
}

.card p {
  margin-top: var(--space-S);
}

@media only screen and (max-width: 1024px) {
  .mainLayout {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .mainLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .innerLayout {
    flex-direction: column;
  }
}
