.container {
  padding: var(--standard-padding-yx);
}

.content h1 {
  font-size: var(--font-size-XL);
  line-height: var(--line-height-XL);
  margin-bottom: var(--space-S);
  font-weight: var(--font-weight-XL);
}
