.container {
  padding: var(--standard-padding-yx);
}

.faqContainer {
  margin: auto;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  padding-bottom: 2rem;
}

.title h2 {
  color: #4b3d91;
  font-size: var(--font-size-XL);
  line-height: var(--line-height-XL);
  font-weight: var(--font-weight-L);
}

.line {
  background-color: #d9d7e0;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  height: 1px;
  width: 100%;
}

/* FAQ Item */

.faqItem {
  width: 100%;
  text-align: left;
}

.faqItemHeader {
  display: flex;
  justify-content: space-between;
}

.faqItemHeader h4 {
  font-size: var(--font-size-S);
  font-weight: var(--font-weight-L);
}

.faqItemText {
  margin-top: var(--space-M);
  font-size: var(--font-size-S);
}
