.mainLayout {
  background-color: #ffedf9;
  padding: 0 var(--space-XXL);
}

.innerLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* max-width: var(--max-width); */
  margin: 0 auto;
}

.leftContainer {
  justify-self: start;
  align-items: center;
  padding-right: 30px;
}

.leftContainer span {
  display: table-cell;
  vertical-align: middle;
  height: 300px;
}

.leftContainer h1 {
  font-size: var(--font-size-XL);
  font-weight: 800;
}

.rightContainer {
  position: relative;
  /* display: flex; */
  /* align-items: center; */
}

.image {
  /* max-width: 85%; */
  display: block;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .mainLayout {
    padding: var(--standard-padding-y) var(--standard-padding-x) 0px;
  }

  .innerLayout {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }

  .leftContainer h1 {
    margin-bottom: var(--space-L);
    text-align: center;
  }

  .leftContainer span {
    height: 100%;
  }

  .rightContainer {
    position: relative;
    height: 300px;
    width: 100%;
  }
}
