html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

html {
  background-color: var(--white);
  font-family: var(--font-family-sans), var(--font-family-serif), sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

* {
  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-4: 20px;
  --space-5: 32px;
  --space-6: 52px;
  --space-7: 84px;
  --space-8: 136px;
  --space-9: 220px;

  --font-family-sans: Inter;
  --font-family-serif: PT Serif;
  --font-family-mono: IMB Plex Mono;

  --space-S: 8px;
  --space-M: 20px;
  --space-L: 35px;
  --space-XL: 35px;
  --space-XXL: 50px;

  --font-size-XS: 14px;
  --font-size-S: 18px;
  --font-size-M: 22px;
  --font-size-L: 26px;
  --font-size-XL: 38px;

  --line-height-XS: 21px;
  --line-height-S: 30px;
  --line-height-M: 33px;
  --line-height-L: 39px;
  --line-height-XL: 58px;

  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-4: 20px;
  --font-size-5: 24px;
  --font-size-6: 30px;
  --font-size-7: 36px;
  --font-size-10: 72px;

  --line-height-0: 16px;
  --line-height-1: 20px;
  --line-height-2: 24px;
  --line-height-3: 28px;
  --line-height-4: 28px;
  --line-height-5: 32px;
  --line-height-6: 36px;
  --line-height-7: 40px;
  --line-height-9: 60px;
  --line-height-11: 96px;
  --line-height-12: 128px;

  --border-radius-S: 5px;
  --border-radius-M: 15px;

  --white: #fff;
  --black: #101112;
  --gray-200: #ced2d9;
  --gray-600: #6e7683;
  --blue-600: #1e61cd;
  --primary-color: #1e61cd;
  --secondary-color: #3eafa4;
  --tertiary-color: #fff1f9;
  --max-width-0: 320px;
  --max-width: 968px;

  --font-weight-3: 800;

  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  --container-padding-xy: 50px 20px;
  --standard-padding-xy: 80px 50px;
  --standard-padding-y: 80px;
  --standard-padding-x: 50px;
}

/* Post page */
.container {
  margin: 0 auto;
  /* padding: 0 var(--space-4); */
}

.page {
  width: 100%;
  padding: var(--container-padding-xy);
}

.page-header {
  margin-bottom: var(--space-L);
}

.page-header-image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: var(--space-L);
}

.page-title {
  font-size: var(--font-size-XL);
  line-height: var(--line-height-XL);
  font-weight: 800;
  margin-bottom: var(--space-S);
}

.page-subtitle {
  font-size: var(--font-size-M);
  line-height: var(--line-height-S);
}

.page-content {
  max-width: var(--max-width);
  margin: 0 auto;
}

.page-content a {
  color: var(--blue-600);
  text-decoration: none;
}

.page-section-header {
  font-size: var(--font-size-L);
  font-weight: 800;
  line-height: var(--line-height-L);
  margin-bottom: var(--space-M);
}

.page-section-text {
  font-size: var(--font-size-S);
  line-height: var(--line-height-S);
}

.page-section-image {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: var(--space-L) 0;
}

/* Layout */
/* .container {
  margin: 0 auto;
} */

main {
  margin-top: 45px;
}

.header {
  display: flex;
  padding: 0 var(--space-1);
  border-bottom: 1px solid #ced2d9;

  z-index: 10;
  background: var(--white);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.footer .footer__text {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  display: flex;
  align-items: center;
  gap: 2px;
}

@media (max-width: 800px) {
  * {
    --font-size-S: 16px;
    --font-size-M: 25px;
    --font-size-L: 28px;
    --font-size-XL: 36px;

    --line-height-S: 30px;
    --line-height-M: 35px;
    --line-height-L: 38px;
    --line-height-XL: 46px;

    --container-padding-xy: 50px 20px;
  }
}
