.mainLayout {
  background-color: var(--black);
  padding: var(--standard-padding-yx);
  color: var(--white);
  width: 100%;
}

.innerLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainLayout h2 {
  font-size: var(--font-size-XL);
  margin-bottom: var(--space-L);
  font-weight: var(--font-weight-L);
}

.mainLayout p {
  font-size: var(--font-size-S);
  margin-bottom: var(--space-M);
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .mainLayout {
    text-align: center;
  }
}
